<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
  <test thread-count="5" name="Test">
	  
	  <listeners>
		<listener class-name="utilities.ExtentReportManager"></listener>
	</listeners> 
	   <test  name="chromeTest">
	<parameter name="url" value="https://www.saucedemo.com/"></parameter>
	<parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="testcases.TC1_Login_SD"/>
    </classes>
  </test> <!-- Test -->
   <test  name="edgeTest">
	<parameter name="url" value="https://www.saucedemo.com/"></parameter>
	<parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="testcases.TC1_Login_SD"/>
    </classes>
  </test>
  </test>
</suite> <!-- Suite -->
